certifi==2018.4.16
Django==2.2.10
django-crispy-forms==1.7.2
django-registration-redux==2.4
djangorestframework==3.8.2
Flask==1.0.2
Flask-RESTful==0.3.6
fuzzywuzzy==0.16.0
openpyxl==2.5.3
Pillow==5.1.0
pyparsing==2.2.0
python-Levenshtein==0.12.0
requests==2.18.4
selenium==3.12.0
Unidecode==1.0.22
urllib3==1.22